/* style.css - til dine custom styles */

/**************************************************/
/* WRITE MOBILE STYLES AND GENERAL STYLES (fonts, colors etc.) HERE BEFORE THE FIRST BREAKPOINT */
/**************************************************/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

html {
  background-color: #e8dcce;
  overflow-x: hidden;
}

p,
li,
.form-label {
  font-family: var(--primary-font);
}

h1 {
  font-family: var(--third-font);
  text-transform: uppercase;
  font-size: 3rem;
  color: #e31c11;
}

h2,
h3,
h5,
.btn {
  font-family: var(--secondary-font);
}

navbar-brand,
img {
  vertical-align: middle;
  width: 100%;
  height: 12vw;
}

.logo img {
  height: auto;
  width: 100px;
}

.bg-light {
  --bs-bg-opacity: -1;
}

.navbar-nav {
  align-items: flex-end;
}

:root {
  --bs-body-bg: transperant;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Playfair Display", sans-serif;
  --third-font: "Abril Fatface", sans-serif;
}

.navbar-collapse {
  background-color: #e8dcce;
  padding: 16px;
  margin-right: -3vw;
}

/* Forside */

#hero div {
  place-items: center;
}

#hero div * {
  grid-area: 1 / 1 / -1 / -1;
}

#hero img {
  width: 35%;
}

/* Section 1 */

#section1 {
  background-color: #f4a5ae;
  padding: 20px;
}

.section1billede {
  width: 55%;
}

/* Section 2 */

.w-100 {
  height: auto;
}

#section1 h2,
#section1 p {
  line-height: 2;
}

/* Section 3 */

#section3 {
  background-color: #f4efe9;
}

#section3 h2 {
  text-align: center;
  padding: 30px;
  padding-top: 65px;
}

/* Section 4 */
#section4 {
  background-color: #e8dcce;
}

/* Knap */

/*.btn-outline-primary {
  color: #0d6efd;
  border-color: #0d6efd;
  width: 50%;
  align-items: center;
  border-radius: 6.5rem;
}*/

button {
  display: flex;
  justify-content: center;
}

/* Section 5 */

.pic {
  align-items: end;
}

/* footer */

#footer {
  width: 100%;
  height: 500px;
  position: relative;
}

.stribetboks {
  min-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("striber.png");
}

.hvidboks {
  background-color: #fff;
  z-index: 10;
  position: absolute;
  top: -54px;
  align-items: center;
  justify-content: center;
  max-height: 100%;
}

.subknap,
.btn-outline-primary {
  margin-bottom: 10vw;
  width: 100%;
  background-color: transparent;
  color: #f4a5ae;
}

.btn-outline-primary {
  width: 40%;
}

.form-control,
.subknap,
.btn-outline-primary {
  border-radius: 8vw;
  border: solid 1.5px #f4a5ae;
}

.btn-primary:hover,
.btn-outline-primary:hover {
  background-color: #f4a5ae;
  color: #fff;
  border-color: #f4a5ae;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/**************************************************/
/* Small devices (landscape phones, 576px and up) */
/**************************************************/
@media (min-width: 576px) {
  #hero h1 {
    font-size: 5rem;
  }

  #section1 {
    padding: 50px;
  }

  #footer {
    height: 354px;
  }
}

/* END "sm-" 576px and up */

/**************************************************/
/* // Medium devices (tablets, 768px and up) */
/**************************************************/
@media (min-width: 768px) {
  .logo img {
    width: 125px;
  }

  #hero img {
    width: 30%;
  }

  .form-control,
  .subknap {
    width: 70%;
  }
}

/* END "md-" 768px and up */

/**************************************************/
/* // Large devices (desktops, 992px and up) */
/**************************************************/
@media (min-width: 992px) {
  /* END "lg-" 992px and up */
  .logo img {
    width: 145px;
  }

  #section1 {
    padding: 90px;
  }

  #hero h1 {
    font-size: 7rem;
  }

  #hero img {
    width: 14%;
    z-index: 10;
  }

  .hvidboks {
    min-width: 90%;
  }
}

/**************************************************/
/* // Extra large devices (large desktops, 1200px and up) */
/**************************************************/
@media (min-width: 1200px) {
  /* END "xl-" 1200px and up */
  .logo img {
    width: 145px;
  }

  #hero h1 {
    font-size: 9rem;
  }
}

/**************************************************/
/* // Extra Extra large (XXL) devices (XXL screens, 1400px and up) */
/**************************************************/
@media (min-width: 1400px) {
  /* END "xxl-" 1400px and up */
  .logo img {
    width: 145px;
  }
}
